.todo{
    width:600px;
    height:30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    user-select: none;
    align-items: center;
    border-bottom: 1px solid black;
    margin-bottom: 10px;
}