<nav class="navbar navbar-expand-md bg-danger navbar-dark px-2 mb-5 sticky-top">

    <a href="" class="navbar-brand">CretaPizza</a>
  
    <button
      data-bs-toggle="collapse"
      data-bs-target="#main-menu"
      class="navbar-toggler">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div id="main-menu" class="navbar-nav navbar-collapse collapse">
      <a routerLink="/pizzas" class="nav-link">Liste des pizzas</a>
      <a routerLink="/pizzas/new" class="nav-link">Créer sa pizza</a>
    </div>
    
</nav>
